h1 {
  color: pink;
  font-family: helvetica;
  font-size: 1.5rem;
  background: blue;
}

#fun-facts {
  color: lightblue;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#submit {
  background-color: #abefff;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 10px;
}

#random {
  background-color: #eeabff;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 10px;
}

#submit:hover {
  background-color: #5cbcd2;
  cursor: pointer;
}

#random:hover {
  cursor: pointer;
  background-color: #df7df7;
}